*untuk import file salah satu saja yang digunakan yaitu mount drive atau upload file langsung*

import file dengan mount ke drive ( pastikan file sudah ada di drive terlebih dahulu ) kemudian disimpan dalam variabel dataset dalam pandas

*cara import ini hanya berlaku untuk penggunaan jupyter python di google collab*

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
 
dataset = pd.read_csv('gdrive/My Drive/Diabetes.csv')
dataset

import file diabetes.cv dan menyimpan file tersebut dalam pandas dataset

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

dataset = pd.read_csv('Diabetes.csv')
dataset

     Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 9 columns]

melakukan normalisasi data dari setiap field agar mendapatkan rentang nilai antara 0-1 kecuali field outcome karena field outcome merupakan klasifikasi kelas yang akan digunakan

In [ ]:
dataset['Pregnancies'] = (dataset['Pregnancies']-dataset['Pregnancies'].min())/(dataset['Pregnancies'].max()-dataset['Pregnancies'].min())
dataset['Glucose'] = (dataset['Glucose']-dataset['Glucose'].min())/(dataset['Glucose'].max()-dataset['Glucose'].min())
dataset['BloodPressure'] = (dataset['BloodPressure']-dataset['BloodPressure'].min())/(dataset['BloodPressure'].max()-dataset['BloodPressure'].min())
dataset['SkinThickness'] = (dataset['SkinThickness']-dataset['SkinThickness'].min())/(dataset['SkinThickness'].max()-dataset['SkinThickness'].min())
dataset['Insulin'] = (dataset['Insulin']-dataset['Insulin'].min())/(dataset['Insulin'].max()-dataset['Insulin'].min())
dataset['BMI'] = (dataset['BMI']-dataset['BMI'].min())/(dataset['BMI'].max()-dataset['BMI'].min())
dataset['DiabetesPedigreeFunction'] = (dataset['DiabetesPedigreeFunction']-dataset['DiabetesPedigreeFunction'].min())/(dataset['DiabetesPedigreeFunction'].max()-dataset['DiabetesPedigreeFunction'].min())
dataset['Age'] = (dataset['Age']-dataset['Age'].min())/(dataset['Age'].max()-dataset['Age'].min())
dataset

     Pregnancies   Glucose  ...       Age  Outcome
0       0.352941  0.743719  ...  0.483333        1
1       0.058824  0.427136  ...  0.166667        0
2       0.470588  0.919598  ...  0.183333        1
3       0.058824  0.447236  ...  0.000000        0
4       0.000000  0.688442  ...  0.200000        1
..           ...       ...  ...       ...      ...
763     0.588235  0.507538  ...  0.700000        0
764     0.117647  0.613065  ...  0.100000        0
765     0.294118  0.608040  ...  0.150000        0
766     0.058824  0.633166  ...  0.433333        1
767     0.058824  0.467337  ...  0.033333        0

[768 rows x 9 columns]

(opsional) merename setiap field

In [ ]:
dataset = dataset.rename(columns={'Pregnancies':'P', 'Glucose':'G','BloodPressure':'BP', 'SkinThickness' : 'SK', 'Insulin' : 'I', 'DiabetesPedigreeFunction' : 'DP'})
dataset

            P         G        BP  ...        DP       Age  Outcome
0    0.352941  0.743719  0.590164  ...  0.234415  0.483333        1
1    0.058824  0.427136  0.540984  ...  0.116567  0.166667        0
2    0.470588  0.919598  0.524590  ...  0.253629  0.183333        1
3    0.058824  0.447236  0.540984  ...  0.038002  0.000000        0
4    0.000000  0.688442  0.327869  ...  0.943638  0.200000        1
..        ...       ...       ...  ...       ...       ...      ...
763  0.588235  0.507538  0.622951  ...  0.039710  0.700000        0
764  0.117647  0.613065  0.573770  ...  0.111870  0.100000        0
765  0.294118  0.608040  0.590164  ...  0.071307  0.150000        0
766  0.058824  0.633166  0.491803  ...  0.115713  0.433333        1
767  0.058824  0.467337  0.573770  ...  0.101196  0.033333        0

[768 rows x 9 columns]

melihat info dari dataset yang digunakan

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   P        768 non-null    float64
 1   G        768 non-null    float64
 2   BP       768 non-null    float64
 3   SK       768 non-null    float64
 4   I        768 non-null    float64
 5   BMI      768 non-null    float64
 6   DP       768 non-null    float64
 7   Age      768 non-null    float64
 8   Outcome  768 non-null    int64
dtypes: float64(8), int64(1)
memory usage: 54.1 KB

membuat lima dataset baru dengan 5-fold cross-validation. Sub data tersebut dibagi menjadi data testing dan data tester dengan komposisi sebagai berikut :
1.	Baris ke-1 sampai baris ke-614 sebagai training set dan sisanya sebagai testing set;
2.	Baris ke-1 sampai baris ke-461 ditambah baris ke-642 sampai 768 sebagai training set dan yang lain sebagai testing set;
3.	Baris ke-1 sampai baris ke-307 ditambah baris ke-462 sampai 768 sebagai training set dan yang lain sebagai testing set;
4.	Baris ke-1 sampai baris ke-154 ditambah baris ke-308 sampai 768 sebagai training set dan yang lain sebagai testing set; dan
5.	Baris ke-155 sampai sampai 768 sebagai training set dan yang lain sebagai testing set.

Dataset 1

In [ ]:
dataset1_train = dataset.iloc[0:614]
dataset1_test = dataset.iloc[614:768]

In [ ]:
dataset1_train

            P         G        BP  ...        DP       Age  Outcome
0    0.352941  0.743719  0.590164  ...  0.234415  0.483333        1
1    0.058824  0.427136  0.540984  ...  0.116567  0.166667        0
2    0.470588  0.919598  0.524590  ...  0.253629  0.183333        1
3    0.058824  0.447236  0.540984  ...  0.038002  0.000000        0
4    0.000000  0.688442  0.327869  ...  0.943638  0.200000        1
..        ...       ...       ...  ...       ...       ...      ...
609  0.058824  0.557789  0.508197  ...  0.025619  0.033333        0
610  0.176471  0.532663  0.442623  ...  0.091375  0.050000        0
611  0.176471  0.874372  0.475410  ...  0.219898  0.250000        1
612  0.411765  0.844221  0.721311  ...  0.302733  0.316667        1
613  0.352941  0.527638  0.655738  ...  0.341588  0.083333        0

[614 rows x 9 columns]

In [ ]:
dataset1_test

            P         G        BP  ...        DP       Age  Outcome
614  0.647059  0.693467  0.606557  ...  0.204526  0.483333        1
615  0.176471  0.532663  0.590164  ...  0.055081  0.100000        0
616  0.352941  0.587940  0.786885  ...  0.033732  0.150000        0
617  0.117647  0.341709  0.508197  ...  0.076430  0.033333        0
618  0.529412  0.562814  0.672131  ...  0.514091  0.483333        1
..        ...       ...       ...  ...       ...       ...      ...
763  0.588235  0.507538  0.622951  ...  0.039710  0.700000        0
764  0.117647  0.613065  0.573770  ...  0.111870  0.100000        0
765  0.294118  0.608040  0.590164  ...  0.071307  0.150000        0
766  0.058824  0.633166  0.491803  ...  0.115713  0.433333        1
767  0.058824  0.467337  0.573770  ...  0.101196  0.033333        0

[154 rows x 9 columns]

Dataset 2

In [ ]:
dataset2_train1 = dataset.iloc[0:461]
dataset2_train2 = dataset.iloc[642:768]
frames = [dataset2_train1, dataset2_train2]
dataset2_train = pd.concat(frames)
dataset2_test = dataset.iloc[461:642]

In [ ]:
dataset2_train

            P         G        BP  ...        DP       Age  Outcome
0    0.352941  0.743719  0.590164  ...  0.234415  0.483333        1
1    0.058824  0.427136  0.540984  ...  0.116567  0.166667        0
2    0.470588  0.919598  0.524590  ...  0.253629  0.183333        1
3    0.058824  0.447236  0.540984  ...  0.038002  0.000000        0
4    0.000000  0.688442  0.327869  ...  0.943638  0.200000        1
..        ...       ...       ...  ...       ...       ...      ...
763  0.588235  0.507538  0.622951  ...  0.039710  0.700000        0
764  0.117647  0.613065  0.573770  ...  0.111870  0.100000        0
765  0.294118  0.608040  0.590164  ...  0.071307  0.150000        0
766  0.058824  0.633166  0.491803  ...  0.115713  0.433333        1
767  0.058824  0.467337  0.573770  ...  0.101196  0.033333        0

[587 rows x 9 columns]

In [ ]:
dataset2_test

            P         G        BP  ...        DP       Age  Outcome
461  0.058824  0.356784  0.508197  ...  0.144321  0.083333        0
462  0.470588  0.371859  0.573770  ...  0.267720  0.300000        0
463  0.294118  0.442211  0.639344  ...  0.076857  0.266667        0
464  0.588235  0.577889  0.803279  ...  0.403074  0.216667        0
465  0.000000  0.623116  0.459016  ...  0.159693  0.000000        0
..        ...       ...       ...  ...       ...       ...      ...
637  0.117647  0.472362  0.622951  ...  0.243809  0.033333        0
638  0.411765  0.487437  0.622951  ...  0.338599  0.183333        1
639  0.058824  0.502513  0.606557  ...  0.030316  0.116667        0
640  0.000000  0.512563  0.704918  ...  0.263450  0.100000        0
641  0.235294  0.643216  0.573770  ...  0.096072  0.050000        0

[181 rows x 9 columns]

Dataset 3

In [ ]:
dataset3_train1 = dataset.iloc[0:307]
dataset3_train2 = dataset.iloc[462:768]
frames1 = [dataset3_train1, dataset3_train2]
dataset3_train = pd.concat(frames1)
dataset3_test = dataset.iloc[307:462]

In [ ]:
dataset3_train

            P         G        BP  ...        DP       Age  Outcome
0    0.352941  0.743719  0.590164  ...  0.234415  0.483333        1
1    0.058824  0.427136  0.540984  ...  0.116567  0.166667        0
2    0.470588  0.919598  0.524590  ...  0.253629  0.183333        1
3    0.058824  0.447236  0.540984  ...  0.038002  0.000000        0
4    0.000000  0.688442  0.327869  ...  0.943638  0.200000        1
..        ...       ...       ...  ...       ...       ...      ...
763  0.588235  0.507538  0.622951  ...  0.039710  0.700000        0
764  0.117647  0.613065  0.573770  ...  0.111870  0.100000        0
765  0.294118  0.608040  0.590164  ...  0.071307  0.150000        0
766  0.058824  0.633166  0.491803  ...  0.115713  0.433333        1
767  0.058824  0.467337  0.573770  ...  0.101196  0.033333        0

[613 rows x 9 columns]

In [ ]:
dataset3_test

            P         G        BP  ...        DP       Age  Outcome
307  0.000000  0.688442  0.557377  ...  0.027754  0.000000        0
308  0.000000  0.643216  0.557377  ...  0.560632  0.066667        1
309  0.117647  0.623116  0.557377  ...  0.340307  0.150000        1
310  0.352941  0.402010  0.540984  ...  0.100342  0.333333        0
311  0.000000  0.532663  0.573770  ...  0.225021  0.016667        0
..        ...       ...       ...  ...       ...       ...      ...
457  0.294118  0.432161  0.557377  ...  0.122118  0.050000        0
458  0.588235  0.743719  0.688525  ...  0.394108  0.500000        1
459  0.529412  0.673367  0.606557  ...  0.163108  1.000000        0
460  0.529412  0.603015  0.590164  ...  0.279675  0.450000        0
461  0.058824  0.356784  0.508197  ...  0.144321  0.083333        0

[155 rows x 9 columns]

Dataset 4

In [ ]:
dataset4_train1 = dataset.iloc[0:154]
dataset4_train2 = dataset.iloc[308:768]
frames2 = [dataset4_train1, dataset4_train2]
dataset4_train = pd.concat(frames2)
dataset4_test = dataset.iloc[154:308]

In [ ]:
dataset4_train

            P         G        BP  ...        DP       Age  Outcome
0    0.352941  0.743719  0.590164  ...  0.234415  0.483333        1
1    0.058824  0.427136  0.540984  ...  0.116567  0.166667        0
2    0.470588  0.919598  0.524590  ...  0.253629  0.183333        1
3    0.058824  0.447236  0.540984  ...  0.038002  0.000000        0
4    0.000000  0.688442  0.327869  ...  0.943638  0.200000        1
..        ...       ...       ...  ...       ...       ...      ...
763  0.588235  0.507538  0.622951  ...  0.039710  0.700000        0
764  0.117647  0.613065  0.573770  ...  0.111870  0.100000        0
765  0.294118  0.608040  0.590164  ...  0.071307  0.150000        0
766  0.058824  0.633166  0.491803  ...  0.115713  0.433333        1
767  0.058824  0.467337  0.573770  ...  0.101196  0.033333        0

[614 rows x 9 columns]

In [ ]:
dataset4_test

            P         G        BP  ...        DP       Age  Outcome
154  0.470588  0.944724  0.639344  ...  0.025192  0.366667        1
155  0.411765  0.763819  0.721311  ...  0.110589  0.250000        1
156  0.117647  0.497487  0.426230  ...  0.238685  0.000000        0
157  0.058824  0.547739  0.459016  ...  0.322374  0.033333        0
158  0.117647  0.442211  0.606557  ...  0.064475  0.016667        0
..        ...       ...       ...  ...       ...       ...      ...
303  0.294118  0.577889  0.803279  ...  0.055935  0.116667        1
304  0.176471  0.753769  0.622951  ...  0.055081  0.266667        0
305  0.117647  0.603015  0.622951  ...  0.058497  0.133333        0
306  0.588235  0.809045  0.557377  ...  0.105892  0.433333        1
307  0.000000  0.688442  0.557377  ...  0.027754  0.000000        0

[154 rows x 9 columns]

Dataset 5

In [ ]:
dataset5_train = dataset.iloc[155:768]
dataset5_test = dataset.iloc[0:155]

In [ ]:
dataset5_train

            P         G        BP  ...        DP       Age  Outcome
155  0.411765  0.763819  0.721311  ...  0.110589  0.250000        1
156  0.117647  0.497487  0.426230  ...  0.238685  0.000000        0
157  0.058824  0.547739  0.459016  ...  0.322374  0.033333        0
158  0.117647  0.442211  0.606557  ...  0.064475  0.016667        0
159  1.000000  0.819095  0.590164  ...  0.315542  0.433333        1
..        ...       ...       ...  ...       ...       ...      ...
763  0.588235  0.507538  0.622951  ...  0.039710  0.700000        0
764  0.117647  0.613065  0.573770  ...  0.111870  0.100000        0
765  0.294118  0.608040  0.590164  ...  0.071307  0.150000        0
766  0.058824  0.633166  0.491803  ...  0.115713  0.433333        1
767  0.058824  0.467337  0.573770  ...  0.101196  0.033333        0

[613 rows x 9 columns]

In [ ]:
dataset5_test

            P         G        BP  ...        DP       Age  Outcome
0    0.352941  0.743719  0.590164  ...  0.234415  0.483333        1
1    0.058824  0.427136  0.540984  ...  0.116567  0.166667        0
2    0.470588  0.919598  0.524590  ...  0.253629  0.183333        1
3    0.058824  0.447236  0.540984  ...  0.038002  0.000000        0
4    0.000000  0.688442  0.327869  ...  0.943638  0.200000        1
..        ...       ...       ...  ...       ...       ...      ...
150  0.058824  0.683417  0.606557  ...  0.137062  0.050000        0
151  0.235294  0.572864  0.532787  ...  0.151153  0.266667        0
152  0.529412  0.783920  0.704918  ...  0.474381  0.350000        1
153  0.058824  0.768844  0.672131  ...  0.260034  0.033333        0
154  0.470588  0.944724  0.639344  ...  0.025192  0.366667        1

[155 rows x 9 columns]

fungsi melakukan pengoperasian KNN

In [ ]:
def knn_operate(dataset_train,dataset_test,K,akurasi):
  for i in range(len(dataset_test)):

    dataset_train_copy = dataset_train.copy()
    dataset_train_copy

    dataset_train_copy['jarak'] = np.sqrt(pow(dataset_test.iloc[i,0] - dataset_train_copy['P'],2) + pow(dataset_test.iloc[i,1] - dataset_train_copy['G'],2) + pow(dataset_test.iloc[i,2] - dataset_train_copy['BP'],2)
    + pow(dataset_test.iloc[i,3] - dataset_train_copy['SK'],2) + pow(dataset_test.iloc[i,4] - dataset_train_copy['I'],2) + pow(dataset_test.iloc[i,5] - dataset_train_copy['BMI'],2)
    + pow(dataset_test.iloc[i,6] - dataset_train_copy['DP'],2) + pow(dataset_test.iloc[i,7] - dataset_train_copy['Age'],2))

    dataset_train_copy_sort = dataset_train_copy.sort_values(by ='jarak')

    count_1 = 0
    count_0 = 0
    count_k = 0

    for j in range(K):

      if (dataset_train_copy_sort.iloc[j,8] == 1):
        count_1 = count_1 + 1
      else:
        count_0 = count_0 + 1
  
    if (count_0 < count_1):
      count_k = 1
    else:
      count_k = 0
  
    if (count_k == dataset_test.iloc[i,8]):
      akurasi = akurasi + 1
    else:
      akurasi = akurasi + 0
  
  return akurasi,len(dataset_test)

In [ ]:
K = 7
accurate = knn_operate(dataset1_train,dataset1_test,K,0)[0]
besar_data_set = knn_operate(dataset1_train,dataset1_test,K,0)[1]
accurate_1 = accurate / besar_data_set
print('Ketika K = ', K)
print('Dataset 1 benar :', accurate, 'dan salah : ', besar_data_set-accurate)
print(accurate_1*100,'%')

Ketika K =  7
Dataset 1 benar : 117 dan salah :  37
75.97402597402598 %

Main Program

In [ ]:
#tentukan K (kalau bisa kelipatan ganjil seperti 1,3,5,7,9,11, dan lain-lain)
K = 7

#untuk dataset 1
print('Ketika K = ', K)
print(' ')
data1_accurate = knn_operate(dataset1_train,dataset1_test,K,0)[0]
besar_dataset1 = knn_operate(dataset1_train,dataset1_test,K,0)[1]
data1_accurate_mean = data1_accurate / besar_dataset1
print('Dataset 1 benar :', data1_accurate, 'dan salah : ', besar_dataset1-data1_accurate)
print('Akurasi Dataset 1 :', data1_accurate_mean*100,'%')
print(' ')

#untuk dataset 2
data2_accurate = knn_operate(dataset2_train,dataset2_test,K,0)[0]
besar_dataset2 = knn_operate(dataset2_train,dataset2_test,K,0)[1]
data2_accurate_mean = data2_accurate / besar_dataset2
print('Dataset 2 benar :', data2_accurate, 'dan salah : ', besar_dataset2-data2_accurate)
print('Akurasi Dataset 2 :', data2_accurate_mean*100,'%')
print(' ')

#untuk dataset 3
data3_accurate = knn_operate(dataset3_train,dataset3_test,K,0)[0]
besar_dataset3 = knn_operate(dataset3_train,dataset3_test,K,0)[1]
data3_accurate_mean = data3_accurate / besar_dataset3
print('Dataset 3 benar :', data3_accurate, 'dan salah : ', besar_dataset3-data3_accurate)
print('Akurasi Dataset 3 :', data3_accurate_mean*100,'%')
print(' ')

#untuk dataset 4
data4_accurate = knn_operate(dataset4_train,dataset4_test,K,0)[0]
besar_dataset4 = knn_operate(dataset4_train,dataset4_test,K,0)[1]
data4_accurate_mean = data4_accurate / besar_dataset4
print('Dataset 4 benar :', data4_accurate, 'dan salah : ', besar_dataset4-data4_accurate)
print('Akurasi Dataset 4 :', data4_accurate_mean*100,'%')
print(' ')

#untuk dataset 5
data5_accurate = knn_operate(dataset5_train,dataset5_test,K,0)[0]
besar_dataset5 = knn_operate(dataset5_train,dataset5_test,K,0)[1]
data5_accurate_mean = data5_accurate / besar_dataset5
print('Dataset 5 benar :', data5_accurate, 'dan salah : ', besar_dataset5-data5_accurate)
print('Akurasi Dataset 5 :', data5_accurate_mean*100,'%')
print(' ')

#perhitungan rata rata akurasi
total_avg_accurate = (data1_accurate_mean + data2_accurate_mean + data3_accurate_mean + data4_accurate_mean + data5_accurate_mean) / 5
print('Average accuracy : ', total_avg_accurate*100, '%')

Ketika K =  7

Dataset 1 benar : 117 dan salah :  37
Akurasi Dataset 1 : 75.97402597402598 %

Dataset 2 benar : 143 dan salah :  38
Akurasi Dataset 2 : 79.00552486187846 %

Dataset 3 benar : 119 dan salah :  36
Akurasi Dataset 3 : 76.77419354838709 %

Dataset 4 benar : 106 dan salah :  48
Akurasi Dataset 4 : 68.83116883116884 %

Dataset 5 benar : 119 dan salah :  36
Akurasi Dataset 5 : 76.77419354838709 %

Average accuracy :  75.47182135276948 %